{% extends 'blog/main.html' %}

{% block title %} Home {% endblock %}
{% load static %}
{% block content %}
<!-- blog/templates/blog/post_detail.html -->
<div class="container custom-container mt-4 ms-md-3 me-md-4">
  <div class="post-details">
      <img src="{{ post.image.url }}" class="post-image" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
      <div class="post-body p-3">
          <h5 class="post-title fw-bold text-primary fs-5">{{ post.title }}</h5>
          <p class="post-content text-muted fs-6">{{ post.content }}</p>
      </div>
      <div class="post-footer bg-white d-flex justify-content-between align-items-center">
          <div>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <!-- Circle profile picture (smaller version) -->
          <img src="{% static 'images/profile.png' %}" class="rounded-circle profile-picture-small" alt="{{ post.author }}">
      </div>
  </div>
</div>



{% endblock %}